/** * html5doctor.com Reset Stylesheet v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/) * Richard Clark (http://richclarkdesign.com) * http://cssreset.com */html, body, div, span, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,abbr, address, cite, code,del, dfn, em, img, ins, kbd, q, samp,small, strong, sub, sup, var,b, i,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, figcaption, figure,footer, header, hgroup, menu, nav, section, summary,time, mark, audio, video {    margin:0;    padding:0;    border:0;    outline:0;    font-size:100%;    vertical-align:baseline;    background:transparent;}body {    line-height:1;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {    display:block;}nav ul {    list-style:none;}blockquote, q {    quotes:none;}blockquote:before, blockquote:after,q:before, q:after {    content:'';    content:none;}a {    margin:0;    padding:0;    font-size:100%;    vertical-align:baseline;    background:transparent;}/* change colours to suit your needs */ins {    background-color:#ff9;    color:#000;    text-decoration:none;}/* change colours to suit your needs */mark {    background-color:#ff9;    color:#000;    font-style:italic;    font-weight:bold;}del {    text-decoration: line-through;}abbr[title], dfn[title] {    border-bottom:1px dotted;    cursor:help;}table {    border-collapse:collapse;    border-spacing:0;}/* change border colour to suit your needs */hr {    display:block;    height:1px;    border:0;    border-top:1px solid #cccccc;    margin:1em 0;    padding:0;}input, select {    vertical-align:middle;}
/*===================RESET================*/

body{

	color: #000;
	font-family: Arial, cursive;
	background-color: #fff;
}

a{

	color: #000;
}

header{

	height: 100px;
	width: 1105px;
	margin: auto;
}

header .nav{

	color: #000;
	text-decoration: none;
	margin-top: 70px;

}

#logo{

	display: block;
	background-image: url(pics/logo.png);
	width: 267px;
	height: 99px;
	margin-right: 355px;
}

#container img{

	width: 80px;
	height: 80px;
	border-radius: 10px;
	border: 1px #000 solid;
}

#container div{

	width: 1100px;
	height: 100px;
	border-radius: 10px;
	border: 1px #000 solid;
	margin-bottom: 10px;
}

#container{

	width: 1105px;
	border-radius: 10px;
	border: 1px #000 solid;
	padding: 10px 10px 0px 10px;
	margin: auto;
}

#container img,a,h1{

	float: left;
}

#container div h1{

	width: 600px;
}

#container h2{

	position: relative;
	top: 70px;
	left: -600px;

}

#container div a{

	margin-left: 50px;
	margin-top: 10px;
	color: #000;
}

#container div img{

	margin-left: 10px;
	margin-top: 10px;
}

footer{

	font-size: 8px;
	margin-top: 50px;
	margin-left: 650px;
}


/*==================POST PAGE CSS======================*/

h1.post{

	font-size: 25px;
	margin-left: 25px;
}

h2.post{

	font-size: 20px;
	margin-left: 350px;
	clear: both;
	top: -20px !important;
	left: 0px !important;
}

p{

	padding: 10px;
	line-height: 150%;
	clear: both;
}

div.post{

	height: auto !important;
	position: relative !important;
}

#red{

	color: #000;
}

#postouthor{

	width: 50px !important;
	height: 50px !important;
	float: none !important;
	margin-bottom: 10px;
	
}

#addThread{

	margin-top: 20px;
}

/*===============FORM=================*/

form{
	width: 670px;
	margin: auto;
}

label, input, select{

	display: block;
	width: 350px;
}

input, select{

	position: relative;
	left: 310px;
	top: -20px;
	font-family: Arial, cursive;
	color: #000;
	background-color:  #fff;
	height: 20px;
	border: none;
	border-bottom: 1px #000 dotted;
}

#ProfilePicture{
	
	border: none;

}

#Submit{

	left: 0px;
	top: -10px;
	width: 664px;
	background-color:  #fff;
	font-family: Arial, cursive;
	border: 1px #000 solid;
	font-size: 15px;
	height: 23px;
}

.errorMessage{

	color: #000;
	float: left;



}

/*==============UserIMG===================*/

#userImg{

	width: 70px;
	height: 70px;
	float: left;
	margin-top: 10px;
	margin-left: -330px;
}

/*=============Thread active or not==============*/

#forDelete{

	height: auto !important;
}